{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Takshila</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->

    <!-- Latest compiled and minified JavaScript -->



  </head>

<section class="footer3 cid-qv5AKCViO2" id="footer3-3h" data-rv-view="8787" style="margin-bottom: 70px">

    

    <div class="mbr-overlay" style="background-color: rgb(255, 255, 255); opacity: 0.9;"></div>

    <div class="container">
        <div style="margin-bottom: 150px ; ">
            <div class="col-md-3 col-sm-4" style="padding: 0px;">
                <p class="mb-4 mbr-fonts-style foot-title display-7" style="font-size: 20px;">
                    CONTACT
                </p>
                <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
                    <a href="mailto:ishangrowthspree@gmail.com?Subject=Hello%20Takshila" target="_top" style="color: #808080;">ishangrowthspree@gmail.com</a>
                    <br><p class="text-black" style="color: #808080;">Dwarka Mor, New Delhi, India</p>
                </p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7" style="font-size: 20px;">
                    TAKSHILA
                </p>
                <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
                    <p href="#" class="text-black" style="color: #808080;">Blog</p>
                    <p href="#" class="text-black" style="color: #808080;">Contact</p>
                    <p href="#" class="text-black" style="color: #808080;">About Us</p>
                </p>
            </div>
            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7" style="font-size: 20px;">
                    USEFUL LINKS
                </p>
                <p class="mbr-text mbr-links-column mbr-fonts-style display-7" >
                    <p href="#" class="text-black" style="color: #808080;">Courses</p>
                </p>
            </div>


            <div class="col-md-3 col-sm-4">
                <p class="mb-4 mbr-fonts-style foot-title display-7" style="font-size: 20px;">
                    COURSES
                </p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <p href="#" class="text-black" style="color: #808080;">Digital Marketing</p>
                    <p href="#" class="text-black" style="color: #808080;">Google Ad Words</p>
                </p>
            </div>

        </div>
                    <hr>
            

  <div class="row">
    <div class="col-sm-1" style="font-size:18px; color: #808080;">Home</div>
    <div class="col-sm-1" style="font-size:18px; color: #808080;">Courses</div>
    <div class="col-sm-1" style="font-size:18px; color: #808080;">Team</div>
    <div class="col-sm-1" style="font-size:18px; color: #808080;">Blog</div>
    <div class="col-sm-1" style="font-size:18px; color: #808080;">Contact</div>

    <div class="col-sm-6" align="right">

        <img src="{% static 'images/fb_logo.png' %}" style="width:35px; height:35px;   border-radius: 50%; margin-right: 10px;">
        <img src="{% static 'images/in_logo.png' %}" style="width:35px; height:35px;   border-radius: 50%; margin-right: 10px;">
        <img src="{% static 'images/yt_logo.png' %}" style="width:35px; height:35px;   border-radius: 50%;">


    </div>

  </div>

</div>
</section>

<section style="background-color: #fafafa;;">
    <br>
    <p style="font-size: 18px; margin-left: 148px; color: #808080">Takshila</p>
    <br>
</section>

</html>