{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Takshila</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}">

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/gif" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <script src="{% static 'assets/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/jquery.lettering.js' %}"></script>
    <script src="{% static 'assets/jquery.textillate.js' %}"></script>




  </head>

  <body>


      {% include 'header.html' %} <!--Add this-->





<div class="hero-image">



  <div class="hero-text">
    <h1 style="font-size:60px; position: absolute; bottom:100px; right: -170px;">Takshila&nbspTeam</h1>
  </div>


<div class="bottom-text">
    <p style="font-size:15px; position: absolute;  bottom: 370px;">Home&nbsp/&nbspOur&nbspTeam</p>
</div>
<div class="line" style="bottom: 420px; color: #808080;"></div>

</div>

<div>

<p class="section-title" style="font-size: 35px; margin-left: 520px; margin-top: 50px;"><span>We Are Young &amp; Dynamic!</span></p>


<p style="margin-top: 30px; margin-left: 480px; font-size: 18px;">We believe in a diverse range of personel to bring creative skills,</p>
<p style="margin-left: 600px; font-size: 18px;">thoughts, and ideas to the table.</p>

 <div class="row" style="margin-left: 20px; margin-top: 80px;">
    
    <div class="col-sm-4" style="font-size:18px;">

      <img src="{% static 'images/nilesh_team.jpeg' %}" style="width: 350px; height: 350px; margin-left: 50px; border:1px solid;">
      <p style="margin-left: 160px; margin-top: 30px; font-size: 20px; color: black;">Nilesh Gupta</p>
      <p style="margin-left: 135px; font-size: 18px; color: #1da3b7;">The One Who Thinks.</p>
      <hr style="margin-left: 50px; margin-right: 35px;">

      <div class="col-sm-6" style="margin-left: 130px; margin-bottom: 30px; ">
            <img src="{% static 'images/fb_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/in_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/google_logo.png' %}" style="width:35px; height:35px; border-radius: 50%;">
      </div>
    </div>

    <div class="col-sm-4" style="font-size:18px;">

      <img src="{% static 'images/ishan_team.jpeg' %}" style="width: 350px; height: 350px; margin-left: 50px; border:1px solid;">
      <p style="margin-left: 140px; margin-top: 30px; font-size: 20px; color: black;">Ishan Manchanda</p>
      <p style="margin-left: 140px; font-size: 18px; color: #1da3b7;">The One Who Talks.</p>
      <hr style="margin-left: 50px; margin-right: 35px;">

      <div class="col-sm-6" style="margin-left: 130px; margin-bottom: 30px; ">
            <img src="{% static 'images/fb_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/in_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/google_logo.png' %}" style="width:35px; height:35px; border-radius: 50%;">
      </div>
    </div>

    <div class="col-sm-4" style="font-size:18px;">

      <img src="{% static 'images/kushagra_team.jpeg' %}" style="width: 350px; height: 350px; margin-left: 50px; border:1px solid;">
      <p style="margin-left: 150px; margin-top: 30px; font-size: 20px; color: black;">Kushagra Singh</p>
      <p style="margin-left: 140px; font-size: 18px; color: #1da3b7;">The One Who Codes.</p>
      <hr style="margin-left: 50px; margin-right: 35px;">

      <div class="col-sm-6" style="margin-left: 130px; margin-bottom: 30px; ">
            <img src="{% static 'images/fb_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/in_logo.png' %}" style="width:35px; height:35px; border-radius: 50%; margin-right: 20px;">
            <img src="{% static 'images/google_logo.png' %}" style="width:35px; height:35px; border-radius: 50%;">
      </div>
    </div>




</div>


</div>



















</body>

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script type="text/javascript">
$(function(){

});
</script>









<div id="footer" style="margin-top: 200px;">
  
        {% include 'footer.html' %} <!--Add this-->

</div>












